@import url('http://getbootstrap.com/dist/css/bootstrap.css');
html, body, #wrapper {
    height: 100%;
}

#wrapper {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

#login {
    border: 1px solid #aaa;
    text-align: left;
    width: 400px;
    border-radius: 6px;
}

#login form input {
    display: block;
}

#login .btn {
    margin-top: 10px;
    margin-left: auto;
}