[name=loginForm] input.ng-invalid {
    background-color: #f00;
}

#wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

#wrapper2 {
    display: table-cell;
}

#login {
    /*margin: 0 auto 0 auto;*/
    vertical-align: middle;
    text-align: center;
    max-width: 400px;
    min-width: 325px;
    height: 400px;
    display: block;
    border: 1px dashed black;
}

#login form {
}

#login form input {
    display: block;
}